@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;

    text-decoration: none;

    margin: 0;
    padding: 0;

    --bg-color: #8CC461;
    --rules-bg-color: #004429;

    border: none;
}

body {
    background-color: var(--bg-color);
    color: white;
}

.heading {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border: white solid 2px;
    border-radius: 12px;

    margin: 30px auto;
}

.heading > h1 {
    width: 2rem;
    font-size: 2.5rem;
}

.score-wrapper {
    display: flex;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    width: 8rem;
    border-radius: 12px;
    gap: 5px;
    margin-left: 30px;
}

.score-label {
    font-size: 1rem;
    text-align: center;
    /* width: 1rem; */
}

.score {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

.input div {
    margin: auto;
}

.rock {
    position: absolute;
    left: 32.5%;

    cursor: pointer;
}

.paper {
    /* transform: translate(-50%, -50%) rotate(-60deg) translateY(-50%); */
    position: absolute;
    left: 55.5%;

    cursor: pointer;
}

.scissors {
    /* transform: translateY(50%); */
    position: absolute;
    left: 44.5%;
    top: 60%;

    cursor: pointer;
}

.line1 {
    position: absolute;
    left: 42.5%;
    top: 44.5%;
    z-index: -1;
}

.line2 {
    position: absolute;
    transform: rotate(52deg);
    left: 37.5%;
    top: 58.5%;
    z-index: -1;
}

.line3 {
    position: absolute;
    transform: rotate(123deg);
    top: 58%;
    left: 48.5%;
    z-index: -1;
}

.btns {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;

    background-color: inherit;
    color: white;

    font-size: 1.2rem;
    font-weight: 500;

    border: white solid 2px;
    border-radius: 12px;

    cursor: pointer;
}

#rules-btn {
    display: inline;
}

#next-btn {
    display: none;
    
} #next-btn a {
    color: white;
}

.show-winner-container {
    margin: 0 auto;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.moves > p {
    position: absolute;
    z-index: 1;
} #you-picked {
    left: 30.5%;
    bottom: 54%;
} #pc-picked {
    right: 31%;
    bottom: 54%;
}

.moves > img {
    width: 20rem;
}

/* .details-container {
    width: max-content;
    margin: 0 auto;
} */
.round-details-title {
    font-size: 2rem;
    font-weight: 500;
}
.round-details-extra {
    font-size: 1.2rem;
    font-weight: 500;
}

.play-again-index {
    width: max-content;
    padding: 12px 40px;
    border-radius: 12px;
    margin-top: 20px;
    cursor: pointer;
} .play-again > a {
    color: black;
}


.rules-container {
    display: none;
    flex-direction: column;

    width: 20%;
    position: absolute;
    right: 5%;
    bottom: 12%;

    background-color: var(--rules-bg-color);
    padding: 20px;

    border: 4px solid white;
    border-radius: 12px;
}

.rules-container > ul {
    list-style: circle;
    list-style-type: none;
}

.rules-container > ul > li {
    margin: 15px 0 15px 15px;
    cursor: default;
}

.rules-container > ul > li::before {
    content: "▪";
    color: yellow;

    position: absolute;
    left: 20px;
}

.rules-container > h1 {
    text-align: center;
}

.close-btn {
    position: absolute;
    right: -12px;
    top: -20px;
    background-color: red;
    width: max-content;

    padding: 7px 12px;

    border-radius: 50%;
    border: 4px solid white;

    cursor: pointer;
}
